/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/inicio/page.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.page_main__cQ6mL{
    position: relative;
    width: 100%;
    height: 100%;
}

.page_video__Zb7Tp{
    position: absolute;
    left: 20%;
    top: 10%;
    display: block;
    margin: auto;
    
}

.page_canvas__1pv_g{
    display: block;
    position: absolute;
    left: 20%;
    top: 10%;
    border: 2px solid red;
}
